* {
  box-sizing: border-box;
  margin: 0px;
  font-family: Roboto, sans-serif;
  outline-color: rgba(46, 87, 112, 1);;
}

.flex-container {
  display:flex;
  height: 100vh;
}

.event-container {
  width: 94%;
  margin: 0.5rem auto;
  background-color: rgba(46, 87, 112, 1);
  border-radius: 10px;
  color: white;
  display:flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}

.event-container h3 {
  margin: 7px 7px 5px 10px;
}

.event-container p {
  margin: 0px 7px 7px 10px;
}

a:hover {
  text-decoration: underline;
}

.thumbnail {
  width: 40%;
  min-width: 40%;
  background-position: center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  /* width: auto;
  height: 70px;
  align-self: center;
  margin-left: 0.5rem; */
}

.event-display {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(169, 204, 251, 0.7);
}

.left-bar {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 100vh;
}

.map-display {
  width: 100%;
  height: 100vh;
  border-left: 4px solid rgba(46, 87, 112, 1)
}

.mapping {
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  padding: 10px 5px;
  min-height: 19rem;
  background-color: rgba(169, 204, 251, 0.7);
  color: rgba(46, 87, 112, 1);
}

.input-field {
  margin: 5px;
  font-size: 0.9rem;
}

input {
  height: 1.2rem;
  margin-left: 8px;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-btn {
  width: 48%;
  padding: 10px 5px;
  margin: 1.2rem 5px;
  border-radius: 5px;
  background-color: rgba(46, 87, 112, 1);
  color: white;
  border: 0px;
}

.error-display {
  height: 2rem;
  color: rgba(46, 87, 112, 1);
  display: inline-block;
  width: 100%;
  text-align: center;
}

label {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

form >p {
  margin-bottom:1.2rem;
}

.data-input, .date-picker {
  width: 45%;
}

.hidden {
  display: none;
}
