* {
  box-sizing: border-box;
}

.flex-container {
  display:flex;
}

.event-container {
  border: 1px solid black;
}

.event-display {
  width: 22rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
  padding: 10px 5px;
  border: 1px solid black;
}

.input-field {
  margin: 5px;
}

input {
  height: 1.2rem;
  margin-left: 8px;
}

.search-btn {
  width: 12rem;
  padding: 5px;
  margin: 5px;
}

.error-display {
  margin-top: 5px;
  height: 2rem;
  color: red;
}

label {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.map-display {
  width: 100%;
  height: 98vh;
}

.mapping {
  width: 100%;
  height: 100%;
}